@charset "UTF-8";
/*
Modul 152, LB - Space Race
08.01.2021, Alessia Siegrist und Tanja Wyder
*/

/* Allgmeein */

body {
    font-family: Raleway, Verdana, sans-serif;
}

main {
    width: 80%;
    margin: auto;
}

.text-container {
    margin-bottom: 30px;
}

#space-race {
    background-color: black;
}